<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>Servlets.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Auth.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Servlets.Auth.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindAccount</servlet-name>
        <servlet-class>Servlets.Auth.FindAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Servlets.Auth.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindFriends</servlet-name>
        <servlet-class>Servlet.Friends.FindFriends</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfilePage</servlet-name>
        <servlet-class>Servlet.Profile.ProfilePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendRequest</servlet-name>
        <servlet-class>Servlet.Friends.SendRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlets.Auth.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptRequest</servlet-name>
        <servlet-class>Servlet.Friends.AcceptRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProfilePicture</servlet-name>
        <servlet-class>Servlet.Profile.ChangeProfilePicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePassword</servlet-name>
        <servlet-class>Servlet.Profile.UpdatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSecurity</servlet-name>
        <servlet-class>Servlet.Profile.UpdateSecurity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateName</servlet-name>
        <servlet-class>Servlet.Profile.UpdateName</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.woff</url-pattern>
        <url-pattern>*.woff2</url-pattern>
        <url-pattern>*.ttf</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.svg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindAccount</servlet-name>
        <url-pattern>/ForgetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindFriends</servlet-name>
        <url-pattern>/FindFriends</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfilePage</servlet-name>
        <url-pattern>/ProfilePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendRequest</servlet-name>
        <url-pattern>/SendRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptRequest</servlet-name>
        <url-pattern>/AcceptRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProfilePicture</servlet-name>
        <url-pattern>/ChangeProfilePicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePassword</servlet-name>
        <url-pattern>/UpdatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSecurity</servlet-name>
        <url-pattern>/UpdateSecurity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateName</servlet-name>
        <url-pattern>/UpdateName</url-pattern>
    </servlet-mapping>
</web-app>
