<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>Servlets.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Auth.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Servlets.Auth.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindAccount</servlet-name>
        <servlet-class>Servlets.Auth.FindAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Servlets.Auth.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindFriends</servlet-name>
        <servlet-class>Servlets.Friends.FindFriends</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfilePage</servlet-name>
        <servlet-class>Servlets.Profile.ProfilePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendRequest</servlet-name>
        <servlet-class>Servlets.Friends.SendRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlets.Auth.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptRequest</servlet-name>
        <servlet-class>Servlets.Friends.AcceptRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProfilePicture</servlet-name>
        <servlet-class>Servlets.Profile.ChangeProfilePicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePassword</servlet-name>
        <servlet-class>Servlets.Profile.UpdatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSecurity</servlet-name>
        <servlet-class>Servlets.Profile.UpdateSecurity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateName</servlet-name>
        <servlet-class>Servlets.Profile.UpdateName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostStory</servlet-name>
        <servlet-class>Servlets.Post.PostStory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostBlog</servlet-name>
        <servlet-class>Servlets.Post.PostBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostPoll</servlet-name>
        <servlet-class>Servlets.Post.PostPoll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Like</servlet-name>
        <servlet-class>Servlets.Post.Like</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostPage</servlet-name>
        <servlet-class>Servlets.PostPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VotePoll</servlet-name>
        <servlet-class>Servlets.Post.VotePoll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostComment</servlet-name>
        <servlet-class>Servlets.Post.PostComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteComment</servlet-name>
        <servlet-class>Servlets.Post.VoteComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Servlets.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Explore</servlet-name>
        <servlet-class>Servlets.Explore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutUs</servlet-name>
        <servlet-class>Servlets.AboutUs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.woff</url-pattern>
        <url-pattern>*.woff2</url-pattern>
        <url-pattern>*.ttf</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.jpeg</url-pattern>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.svg</url-pattern>
        <url-pattern>*.ico</url-pattern>
        <url-pattern>*.webmanifest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindAccount</servlet-name>
        <url-pattern>/ForgetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindFriends</servlet-name>
        <url-pattern>/FindFriends</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfilePage</servlet-name>
        <url-pattern>/ProfilePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendRequest</servlet-name>
        <url-pattern>/SendRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptRequest</servlet-name>
        <url-pattern>/AcceptRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProfilePicture</servlet-name>
        <url-pattern>/ChangeProfilePicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePassword</servlet-name>
        <url-pattern>/UpdatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSecurity</servlet-name>
        <url-pattern>/UpdateSecurity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateName</servlet-name>
        <url-pattern>/UpdateName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostStory</servlet-name>
        <url-pattern>/PostStory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostBlog</servlet-name>
        <url-pattern>/PostBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostPoll</servlet-name>
        <url-pattern>/PostPoll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Like</servlet-name>
        <url-pattern>/Like</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostPage</servlet-name>
        <url-pattern>/PostPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VotePoll</servlet-name>
        <url-pattern>/VotePoll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostComment</servlet-name>
        <url-pattern>/PostComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteComment</servlet-name>
        <url-pattern>/VoteComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Explore</servlet-name>
        <url-pattern>/Explore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutUs</servlet-name>
        <url-pattern>/AboutUs</url-pattern>
    </servlet-mapping>
</web-app>
