*::-webkit-scrollbar {
	width: 0px;
	height: 10px;
}
*::-webkit-scrollbar-track {
	background: var(--primary-light-bg);
	padding: 5px;
}
*::-webkit-scrollbar-thumb {
	background-color: var(--primary-light);
	border-radius: 15px;
	border: 3px solid transparent;
}

.header {
	display: flex;
	align-items: center;
	padding: 0 50px;
	height: 100px;
	gap: 20px;

	.title {
		flex: 2;
		text-align: center;
		font-weight: 900;
		font-size: 40px;
	}

	.search-field-container {
		flex: 4;
		display: flex;
		align-items: center;
		padding: 40px;

		.search-field {
			width: 100%;
			padding: 8px 20px;
			border-radius: 30px;
			display: flex;
			background-color: var(--primary-light-bg);
			transition: all 300ms ease-out;

			&:has(> input:focus) {
				box-shadow: 0 0 0 2px var(--primary-light);
			}

			input {
				flex: 1;
				border: none;
				background: transparent;
				font-size: 18px;
				color: var(--primary);
				outline: none;
			}

			.search-btn {
				padding: 20px;
				font-size: 24px;
				color: var(--primary);
			}
		}
	}

	.profile-tag {
		flex: 3;
		display: flex;
		align-items: center;
		justify-content: center;

		.img-container {
			width: 50px;
			height: 50px;
			border-radius: 100%;
			background-color: var(--primary-light-bg);
			color: var(--primary-light);
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 10px;
			font-size: 40px;
		}

		.name-col {
			margin-right: 20px;
			display: flex;
			flex-direction: column;
			color: var(--primary);

			.name {
				font-size: 16px;
				font-weight: bold;
				font-family: "Raleway";
			}

			.email {
				font-size: 13px;
			}
		}

		.logout-btn {
			color: var(--primary);
			font-size: 20px;
			padding: 20px;
		}
	}
}

.container {
	display: flex;
	flex-direction: row;
	flex: 1;
	padding: 10px 40px;
	gap: 40px;
	overflow: auto;

	.posts-container {
		flex: 5;
		background-color: var(--gray-bg);
		border-radius: 10px 10px 0 0;
		display: flex;
		flex-direction: column;
		gap: 40px;
		overflow: auto;
		padding: 30px;

		.empty-wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			img {
				margin-top: 20px;
				width: 100%;
				height: 300px;
				object-fit: contain;
			}
			h3 {
				margin-top: 50px;
				font-size: 26px;
				font-weight: 400;
				text-align: center;
			}
		}
	}

	.side-bar {
		flex: 2;
		display: flex;
		flex-direction: column;
		gap: 3px;

		.menu-item {
			cursor: pointer;
			position: relative;
			display: flex;
			align-items: center;
			padding: 10px;
			border-radius: 100px;
			color: var(--primary);
			transition: all 300ms ease-out;
			font-weight: 500;

			&.selected {
				background-color: var(--primary-light-bg);
			}

			&:hover {
				background-color: var(--gray-bg);
			}

			.icon-container {
				width: 40px;
				height: 40px;
				background-color: var(--primary);
				color: white;
				border-radius: 100%;

				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				font-size: 25px;
				margin-right: 10px;
			}

			span {
				font-family: "Raleway";
				font-weight: bold;
			}

			&:has(#addMenu:checked) {
				background-color: var(--primary-light);
				color: white;
			}

			#addMenu {
				display: none;

				&:checked + .sub-menu {
					height: 150px;
				}
			}

			.sub-menu {
				overflow: hidden;
				position: absolute;
				background-color: white;
				z-index: 1000;
				box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
				border-radius: 10px;
				// top: 100%;
				left: 50%;
				height: 0;
				transition: height 200ms ease-out;

				.sub-menu-wrapper {
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 200px;
					padding: 10px;
					gap: 5px;
				}

				.sub-menu-item {
					padding: 10px;
					border-radius: 8px;
					font-size: 14px;
					color: var(--primary);
					display: flex;
					align-items: center;
					font-weight: normal;
					gap: 4px;
					i {
						font-size: 20px;
					}

					&:hover {
						color: white;
						background-color: var(--primary-light);
					}
				}
			}
		}

		.footer {
			color: var(--primary-light);
			gap: 10px;

			* {
				font-size: 12px;
			}
			i {
				font-size: 5px;
			}
		}
	}

	.notifications-container {
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		flex: 3;
		padding: 10px;

		.title {
			color: var(--primary);
			font-size: 20px;
		}

		.items-container {
			flex: 1;
			padding: 0 10px;
		}

		.notification-item {
			display: flex;
			align-items: flex-start;
			padding: 15px;
			border-radius: 10px;
			color: var(--primary);

			&.unseen {
				background-color: var(--primary-light-bg);
			}

			.icon-container {
				padding: 10px;
				background-color: var(--primary-light);

				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				border-radius: 100%;
				font-size: 20px;
				color: white;
				margin-right: 10px;
			}

			.desc {
				margin-bottom: 5px;
				font-size: 0.9em;
				.name {
					font-weight: 500;
				}
			}
			.time {
				font-size: 0.8em;
			}
		}
	}
}

.post {
	background-color: white;
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
		rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

	header {
		border-radius: 10px 10px 0 0;
		padding: 20px;
		display: flex;
		align-items: center;

		img {
			width: 50px;
			height: 50px;
			border-radius: 100%;
			object-fit: cover;
			margin-right: 20px;
		}

		.text-cont {
			display: flex;
			flex-direction: column;
			color: var(--primary);

			.name {
				font-weight: bold;
				font-family: "Raleway";
				margin-bottom: 5px;
			}
			.time {
				font-weight: 400;
				font-size: 14px;
			}
		}
	}

	article {
		display: flex;
		flex-direction: column;

		img {
			width: 100%;
			max-height: 400px;
			object-fit: cover;
		}

		h2 {
			padding: 10px 30px;
		}

		.caption {
			padding: 10px 30px;
			font-weight: 400;
			font-size: 14px;
			color: var(--primary);
			word-wrap: break-word;
		}
	}

	footer {
		display: flex;
		flex-direction: row;
		padding: 20px 30px;
		gap: 30px;

		.action-btn {
			background-color: var(--primary-light-bg);
			padding: 10px 20px;
			border-radius: 28px;
			display: flex;
			align-items: center;
			color: var(--primary);

			&:hover {
				box-shadow: 0 0 0 2px var(--primary-light);
			}

			&.liked {
				background-color: var(--primary);
				color: white;

				.icon {
					color: white;
				}
			}

			.icon {
				font-size: 22px;
				margin-right: 10px;
				color: var(--primary-light);

				display: flex;
				align-items: center;
				justify-content: center;
			}

			.stat {
				.num {
					font-weight: 500;
				}
			}
		}
	}

	&.poll {
		article {
			.choices-container {
				padding: 10px 30px;
				display: flex;
				flex-direction: column;

				.choice {
					padding: 10px;
					margin: 5px 0;
					background-color: var(--gray-bg);
					border-radius: 4px;
					color: var(--primary);
					transition: all 200ms ease-in-out;
					cursor: pointer;
					display: flex;
					align-items: center;

					&:hover {
						background-color: var(--primary-light-bg);
					}

					.content {
						flex: 1;
						z-index: 10;
					}
				}
			}
		}

		&.voted {
			article {
				.choice {
					cursor: initial;
					position: relative;

					&:hover {
						background-color: var(--gray-bg);
					}

					&::after {
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						content: "";
						display: block;
						background: var(--primary-light-bg);
						width: var(--width);
						border-radius: inherit;
					}

					&.voted {
						.value {
							z-index: 20;
						}
						.content {
							color: white;
						}

						&::after {
							background-color: var(--primary-light);
						}
					}
				}
			}
		}
	}
}

.pagination {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
		rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
	padding: 20px;
	border-radius: 10px;
	gap: 10px;

	a {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 40px;
		width: 40px;
		text-decoration: none;
		background-color: white;
		border: 2px solid var(--primary-light);
		border-radius: 100%;
		top: 0;
		transition: all 200ms ease-out;

		&:not(.active):hover {
			top: -5px;
			background-color: var(--primary-light);
			color: white;
		}

		&.active {
			width: 50px;
			height: 50px;
			border-color: var(--primary);
			background-color: var(--primary);
			color: white;
		}
	}
}

.friend-requests-container {
	background-color: white;
	padding: 30px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
		rgba(17, 17, 26, 0.05) 0px 8px 32px;

	.sub-title {
		margin-bottom: 40px;
	}

	.friends-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		gap: 40px 30px;
		overflow: auto;

		&.empty {
			grid-template-columns: 1fr;
			padding: 40px;
		}

		.friend-item {
			display: flex;
			flex-direction: column;
			padding: 20px 30px;
			border-radius: 10px;
			border: 1px solid var(--primary-light-bg);

			img {
				align-self: center;
			}

			.text-cont {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				margin: 10px 0;
				margin-top: 20px;

				h4 {
					font-size: 18px;
				}

				span {
					font-weight: 400;
					margin-top: 4px;
					font-size: 14px;
					color: var(--primary);
				}
			}

			.actions {
				margin-top: 20px;
				display: flex;
				flex-direction: column;

				a {
					display: block;
					padding: 10px 30px;
					text-align: center;
					border-radius: 20px;

					&.accept {
						color: white;
						background-color: var(--primary);

						&:hover {
							box-shadow: var(--primary-light) 0px 0px 0px 3px;
						}
					}

					&.decline {
						margin-top: 5px;
						color: var(--primary);
						&:hover {
							background-color: var(--primary-light-bg);
						}
					}
				}
			}
		}
	}
}

.profile-container {
	flex: 5;
	background-color: var(--gray-bg);
	border-radius: 10px 10px 0 0;
	display: flex;
	flex-direction: column;
	overflow: auto;
	padding: 30px;
	background-color: white;

	.profile-container-wrapper {
		background-color: white;
		// box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
		padding: 40px;
		border-radius: 20px;
	}

	.img-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		.btn {
			border-radius: 50px;
			padding: 8px 30px;
			font-size: 13px;
			font-weight: bold;
		}

		.image-wrapper {
			position: relative;

			img {
				border-radius: 150px;
				height: 150px;
				width: 150px;
				object-fit: cover;
				margin-bottom: 30px;
			}

			label {
				position: absolute;
				width: 40px;
				height: 40px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				border-radius: 100%;
				font-size: 24px;
				background-color: white;
				color: var(--primary);
				right: 5px;
				bottom: 40px;
				border: 2px solid var(--primary);
				box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
				transition: all 300ms ease-out;

				&:hover {
					background-color: var(--primary);
					color: white;
					border-color: white;
				}
			}
		}
	}

	.basic-info {
		display: flex;
		flex-direction: column;
		align-items: left;
		.basic-info-field {
			display: flex;
			flex-direction: row;
			gap: 20px;
		}
	}
}

.posts-container.search-page {
	// padding: 10px;
	gap: 0;

	.friend-requests-container {
		box-shadow: none;
		margin: 0;

		.sub-title {
			font-size: 1em;
			text-transform: capitalize;
			font-family: "Rubik";
			font-weight: normal;
		}
	}

	.filters {
		background-color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		padding: 20px;
		margin-bottom: 20px;
		border-radius: 10px;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
			background-color: transparent;
			padding: 8px 20px;
			border-radius: 200px;
			color: var(--primary);

			&.selected {
				background-color: var(--primary);
				color: white;

				&:hover {
					border-color: var(--primary);
					background-color: var(--primary);
				}
			}

			&:hover {
				background-color: var(--primary-light-bg);
			}
		}
	}
}
