.posts-container {
	background-color: white !important;
	padding: 0 !important;
	gap: 0 !important;

	.post {
		border-radius: 0;
		box-shadow: none;
		margin: 0;
		margin-bottom: 20px;

		article {
			img {
				border-radius: 10px;
			}
		}

		&.blog {
			article {
				padding: 10px 20px;
				font-size: 20px;
				img {
					border-radius: 10px;
				}

				h1 {
					margin-block-start: 1em;
					margin-block-end: 1em;
				}

				.caption {
					font-size: 1rem;
					margin: 0;
					padding: 0;

					h2 {
						padding: 5px 0 20px 0px;
					}

					code {
						overflow: auto;
						font-family: monospace !important;
						background-color: var(--gray-bg);
						padding: 3px;
						margin: 4px;
					}

					pre {
						padding: 20px;
						font-size: smaller;
						overflow: auto;
						background-color: var(--gray-bg);
						margin: 50px 0;
						border-radius: 10px;
						font-family: monospace !important;
						white-space: pre;
						line-height: 20px;
					}
				}
			}
		}
	}

	.input-and-comments-wrapper {
		background-color: var(--gray-bg);
		border-radius: 15px 15px 0 0;
		padding: 40px;
	}

	.comment-input {
		background-color: white;
		display: flex;
		flex-direction: column;
		padding: 25px;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		margin-bottom: 60px;
		border-radius: 10px;
		textarea {
			border: none;
			outline: none;
			resize: none;
			width: 100%;
			padding: 10px;
			font-size: 18px;
			color: var(--primary);
		}

		.send-btn {
			align-self: flex-end;
			margin-top: 2 5px;
			padding: 10px 20px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
			border-radius: 40px;
			.icon {
				margin-left: 5px;
				font-size: 16px;
			}

			&:hover {
				padding: 10px 30px;
			}
		}
	}

	.comments-wrapper {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		gap: 40px;

		.empty-wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;

			img {
				height: 300px;
			}

			h3 {
				margin-top: 40px;
				font-weight: 300;
				font-size: 30px;
			}
		}

		.comment {
			background-color: white;
			padding: 20px;
			border-radius: 10px;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

			header {
				display: flex;
				align-items: center;

				.avatar {
					margin-right: 20px;
				}

				.time {
					margin-top: 3px;
					font-size: 13px;
					color: var(--primary);
				}
			}

			article {
				margin: 20px 0;
				color: var(--primary);
				p {
					white-space: pre-line;
					font-size: 18px;
				}
			}

			footer {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 15px;

				a {
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 30px;

					&.selected {
						background-color: var(--primary);
						color: white;
					}
				}
				span {
					color: var(--primary);
					font-weight: 500;
				}
			}
		}
	}
}
